/**
 * Header
 */

.navbar-metamenu {
	padding: 0;
	height: 40px;
	z-index: 1030;

	&.p-navbar .navbar-form {
		padding: 0;
	}

	.navbar-collapse {
		background: #fff;
	}
}

@include media-breakpoint-down(cmln) {
	.navbar-metamenu .navbar-nav {
		display: flex;
		flex-direction: row;
	}
}
@include media-breakpoint-down(sm) {
	.navbar-metamenu .navbar-nav {
		width: 100%;
	}
}

#marditopleft {
	display: inline-block;
	color: $mardi-orange;
	font-weight: bold;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 40px;
}

@include media-breakpoint-up(cmln) {
	#marditopleft {
		border-right: 2px solid #ccc;
	}
}

#marditopleft a {
	color: $mardi-orange;
	text-decoration: none;
}

.twitter-link img {
	display: inline-block;
	border-right: 2px solid #ccc;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
	vertical-align: top;
}

#p-search {
	width: 390px;
}

@include media-breakpoint-down(sm) {
	#p-search {
		width: 100%;
	}
}

#searchInput {
	background-color: #eee;
	border-radius: 0;
	border: 0;
	box-shadow: none;
	height: calc(1.5em + 0.75rem + 4px);

	&::placeholder {
		color: #a8a8a8;
	}

	&:focus-visible::placeholder {
		color: #6c6c6c;
	}
}

#searchGoButton {
	border-radius: 0;
	border: 0;
	box-shadow: none;
	background: #eee;
	color: #a8a8a8;
}

.navbar-main {
	top: 40px;
	background-color: #bfd7ea;
	padding: 0;
	height: 40px;

	&.p-navbar .nav-link {
		color: #fff;
		font-weight: bold;
		font-size: 16px;
	}

	// Hide main menu icons
	&.navbar-nav:first-child a.nav-link::before {
		display: none;
	}

	@include media-breakpoint-up(cmln) {
		&.p-navbar .nav-link {
			border-right: 2px solid #fff;
		}

		&.p-navbar .nav-link:hover,
		&.p-navbar .nav-link:active,
		&.p-navbar .nav-link.active {
			color: #005eaa;
			background: #fff;
		}
	}

	.navbar-toggler {
		margin: calc(7px - 0.1rem) 0;
	}

	.navbar-collapse {
		background-color: #bfd7ea;
	}
}

#pt-anonuserpage {
	padding: 0.25rem 1.5rem;
	@include icon(fas fa-user);

	&:before {
		margin-right: 1rem;
		display: inline-block;
		text-decoration: none;
	}
}

.p-navbar .navbar-toggler {
	margin-right: 10px;
}

/**
 * Content
 */

html {
	scroll-padding-top: 80px;
	overflow-x: hidden;
}

h1, h2 {
	font-weight: bold;
}


/**
 * Footer
 */

.footer {
	background-color: #999;

	a {
		color: #fff;
		font-weight: bold;

		&:hover {
			text-decoration: none;
			color: #005eaa;
		}
	}
}
